.Edit
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow:scroll;
    cursor:text;
}

.Edit::-webkit-scrollbar {
    display: none;
    width: 7px;          
    height: 7px;
  }

.Edit::-webkit-scrollbar-track {
    display: none;
      background-color:  rgba(80, 80, 80, .1); 
  }

.Edit::-webkit-scrollbar-thumb {
    display: none;
    background-color: rgb(80, 80, 80);    /* color of the scroll thumb */
    border-radius: 20px; /* creates padding around scroll thumb */
  }

.line
{
    box-sizing: border-box;
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;

    outline: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.line:focus
{
    border-top: 1px solid rgba(90, 90, 90, .7);
    border-bottom: 1px solid rgba(90, 90, 90, .7);
}

.lineContent
{
    font-family: Consolas,"courier new";
    color: burlywood;
    padding: 4px;
    font-size: 95%;
    margin-left: 12px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.lineNumber
{
    color:rgba(255, 255, 255, 0.4);
    position: fixed;
    /* background-color: rgb(26, 27, 32); */
}

.numberFocused
{
    color:rgba(255, 255, 255, 1);
}

.cursor
{
    color:thistle;
    transition: none;
    animation: cursorFlashing 830ms infinite;
}

@keyframes cursorFlashing{
    from{opacity: 0; transform: scaleX(1);}
    to{opacity:1; transform: scaleX(2);}
}